/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 4, 2016, 10:53:24 PM
    Author     : Ryan Rigato
*/

rect.bordered {
        stroke: rgb(230,230,230);
        stroke-width:3px;   
      }

text.mono {
        font-size: 10pt;
        font-family: Consolas, courier;
        fill: rgb(170,170,170);
      }

text.axis-workweek {
        fill: rgb(0,0,0);
      }

text.axis-worktime {
        fill: rgb(0,0,0);
      }